body {
    display: flex;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#myChart {
    padding: 30px;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 260%;
    border-bottom: 1px solid #154273;
    margin: 0px;
}

p {
    margin: 0px;
    padding-top: 10px;
}

a {
    color: #154273;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #154273;
}

button {
    color: white;
    font-family: "Inter";
    font-weight: 700;
    background-color: #00000000;
    padding: 10px;
    border: 0px;
    border-radius: 50%; /* Make circular buttons possible */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute; /* For buttons like the close button */
    top: 10px; /* Position for close button */
    z-index: 10; /* Ensure it stays on top */
    width: 40px; /* Default size for circular buttons */
    height: 40px; /* Default size for circular buttons */
}

button.fullscreen-button {
    right: 10px; /* Position in the top right corner */
}

button.light-dark-toggle {
    right: 50px; /* Position next to the fullscreen button */
}

button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    background-color: #0d2a4a;
}

button i {
    font-size: 16px;
}

select {
    font-family: "Inter";
    font-weight: 700;
    color: #154273;
    padding: 10px;
    border: 1px solid #154273;
    transition: transform 0.2s ease;
    width: 95%;
    margin: .2rem;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
}

select:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.hidden {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
}

.container-left {
    height: 100%;
    width: 20%; /* Default width */
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.5s ease, padding 0.5s ease;
}

.container-left.collapsed {
    width: 0; /* Fully collapse */
    padding: 0px;
    overflow: hidden;
}

.container-left.expanded {
    width: 20%; /* Fully expand */
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-right {
    height: 100%;
    width: 80%;
    width: calc(80% - 5px); /* Adjust width to ensure even spacing */
    background-color: #154273;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Zorgt ervoor dat de .close-button relatief aan deze container wordt geplaatst */
    transition: width 0.5s ease;
}

.container-right.collapsed {
    width: 80%;
}

.container-right.expanded {
    width: 100%;
    transition: width 0.5s ease;
}

.container-right canvas {
    width: 100%; /* Ensure the canvas fills the width of the container */
    height: 100%; /* Ensure the canvas fills the height of the container */
    box-sizing: border-box; /* Maintain consistent sizing */
}

.schoof-image{
    width: 50%;
    margin: 0px;
    margin-top: 10px;
}

.duotext-image{
    width: 173px;
    height: 45px;
    margin: 5px;
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../content/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.container-disclaimer{
    display: flex;    
}

@media (min-width: 769px) and (max-width: 1385px) {
    h1 {
        font-size: 150%; /* Verklein de tekst op mobiele apparaten */
    }
}

@media (max-width: 768px) {
    #myChart {
        padding: 0;
    }

    .container {
        flex-direction: column; /* Stack containers vertically */
        width: 100vw; /* Full width for mobile */
        height: auto; /* Ensure full viewport height */
        border: none; /* Remove border on mobile */
    }

    .container-left,
    .container-right {
        width: 100%; /* Ensure both containers are the same width */
        height: auto; /* Each container takes half the viewport height */
        min-height: 400px;
        padding: 10px; /* Add padding for better spacing */
        margin: 0px; /* Remove any extra margins */
        box-sizing: border-box; /* Ensure consistent sizing */
        overflow: hidden;
    }

    .fullscreen-button {
        display: none; /* Hide the close button on mobile */
    }

    .schoof-image {
        width: 30%; /* Smaller image for mobile */
        margin: 0; /* Remove extra margins */
    }
}