body {
    display: flex;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
} /* Closing brace added here */

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 260%;
    border-bottom: 1px solid #154273;
    margin: 0px;
}

p {
    margin: 0px;
    padding-top: 10px;
}

a {
    color: #154273;
}

#myChart {
    padding-bottom: 20px;
    max-height: 500px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #154273;
}

button {
    background-color: #00000000;
    padding: 10px 0;
    border: 0px;
    border-radius: 50%; /* Make circular buttons possible */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 10; /* Ensure it stays on top */
}

button.fullscreen-button,
button.light-dark-toggle {
    color: white;
    position: absolute;
    top: 10px;
    width: 40px; /* Default size for circular buttons */
    height: 40px; /* Default size for circular buttons */
}

button.fullscreen-button:hover,
button.light-dark-toggle:hover {
    background-color: #0d2a4a;
}

button.reset-button {
    color: #154273;
    position: relative;
    width: 25px;
    height: 25px;
}

button.fullscreen-button {
    right: 10px; /* Position in the top right corner */
}

button.light-dark-toggle {
    right: 50px; /* Position next to the fullscreen button */
}

button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

button i {
    font-size: 16px;
}

select {
    appearance: none;
    font-family: "Inter";
    font-weight: 700;
    color: #154273;
    padding: 10px;
    border: 1px solid #154273;
    transition: transform 0.2s ease;
    width: 95%;
    margin: .2rem 0;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23003091' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1em;
}

select:hover {
    border: 3px solid;
    padding: 8px;
    cursor: pointer;
    transition: border 0.3s ease, padding 0.3s ease; /* Add smooth transition */
}

.hidden {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
}

.container-left {
    height: 100%;
    width: 20%; /* Default width */
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.5s ease, padding 0.5s ease;
}

.container-left.collapsed {
    width: 0; /* Fully collapse */
    padding: 0px;
    overflow: hidden;
}

.container-left.expanded {
    width: 20%; /* Fully expand */
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-right {
    display: flex;
    box-sizing: border-box;
    padding: 50px;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements horizontally */
    justify-content: flex-start; /* Align elements to the top */
    position: relative;
    height: 100%;
    width: 80%;
    background-color: #154273;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Zorgt ervoor dat de .close-button relatief aan deze container wordt geplaatst */
    transition: width 0.5s ease;
}

.container-right.collapsed {
    width: 80%;
}

.container-right.expanded {
    width: 100%;
    transition: width 0.5s ease;
}

.container-right h2 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.schoof-image{
    width: 50%;
    margin: 0px;
    margin-top: 10px;
}

.duotext-image{
    width: 173px;
    height: 45px;
    margin: 5px;
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../content/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.container-disclaimer{
    display: flex;    
}

@media (min-width: 769px) and (max-width: 1385px) {
    h1 {
        font-size: 150%; /* Verklein de tekst op mobiele apparaten */
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack containers vertically */
        width: 100vw; /* Full width for mobile */
        height: auto; /* Ensure full viewport height */
        border: none; /* Remove border on mobile */
    }

    .container-left,
    .container-right {
        width: 100%; /* Ensure both containers are the same width */
        height: auto; /* Each container takes half the viewport height */
        min-height: 400px;
        padding: 10px; /* Add padding for better spacing */
        margin: 0px; /* Remove any extra margins */
        box-sizing: border-box; /* Ensure consistent sizing */
        overflow: hidden;
    }

    .fullscreen-button {
        display: none; /* Hide the close button on mobile */
    }

    .schoof-image {
        width: 30%; /* Smaller image for mobile */
        margin: 0; /* Remove extra margins */
    }

    button.light-dark-toggle,
    button.reset-button {
        width: 60px;
        height: 60px;
        position: fixed; /* Make the button float */
        top: 10px;
        z-index: 100; /* Ensure it is above other elements */
        background-color: #0d2a4a; /* Use hover background color as default */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }

    button.light-dark-toggle:hover,
    button.reset-button:hover {
        transform: none;
    }

    button.light-dark-toggle {
        right: 80px; /* Position in the top right corner */
    }

    button.reset-button {
        right: 10px; /* Position next to the light-dark toggle */
    }

    button i {
        font-size: 21px;
    }
}